/* src/components/Header.css */

.header {
    background-color: #19416b;
    color: white;
    padding: 10px 0;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .header-logo {
    display: flex;
    align-items: center;
  }
  
  .header-logo-image {
    height: 40px; /* Ajuste la taille du logo si nécessaire */
  }
  
  .header-nav {
    display: flex;
    gap: 15px;
  }
  
  .header-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .header-link:hover {
    text-decoration: underline;
  }
  
  